body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-bg {
  background-color:  #6351ce 50%,;
} 

.text-color {
  color:#12123D;
}

/* .text-color1 {
  color:#D4AA00; 
}
  */



.nh{
  color: white;
}
.border-color {
  border-color: #6351ce;
}
.nav-col{
  background-color:#6351ce ;
}

.custom-bg-text {
  color:#12123D;
}
.dimg{
  height: 40px;
  width:  80px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 13px;
}

.bg-color {
  
  background-color:#6351ce ;
}

.t-color {
   color: #6351ce;
  
}

.pcolor{
  color: yellow;
  font-weight: 600;
  
}
.goldi{
  color:#FFD700;
}
.papacolor{
   font-weight: 600;
   font-size: larger;
}

.pblock{
  font-size:medium;
  font-weight: 400;
  
}

  

.rounded-card {
  padding: 1.5em .5em .5em;
  border-radius: 2em;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.form-card {
  padding: .2em .2em .2em;
  border-radius: 1em;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.card {
  transition: transform 0.2s ease;
}

.card:hover .product-card  {
  transform: scale(1.02);
}

.fo{
  size:18px;
}